[package]
name = "bson"
version = "0.11.0"
authors = [
    "Y. T. Chung <zonyitoo@gmail.com>",
    "Kevin Yeh <kevinyeah@utexas.edu>"
]
description = "Encoding and decoding support for BSON in Rust"
license = "MIT"
readme = "README.md"
homepage = "https://github.com/zonyitoo/bson-rs"
documentation = "https://docs.rs/crate/bson"

[lib]
name = "bson"

[dependencies]
byteorder = "1.0"
chrono = "0.4"
libc = "0.2"
rand = "0.3"
rust-crypto = "0.2"
serde = "1.0"
serde_json = { version = "1.0.0", features = ["preserve_order"] }
time = "0.1"
linked-hash-map = "0.3"
hostname = "^0.1"
hex = "^0.2"

[dev-dependencies]
serde_derive = "1.0"
