[package]
name = "bson"
version = "1.0.0"
authors = [
    "Y. T. Chung <zonyitoo@gmail.com>",
    "Kevin Yeh <kevinyeah@utexas.edu>",
    "Saghm Rossi <saghmrossi@gmail.com>"
]
description = "Encoding and decoding support for BSON in Rust"
license = "MIT"
readme = "README.md"
homepage = "https://github.com/mongodb/bson-rust"
documentation = "https://docs.rs/crate/bson"
edition = "2018"

[features]
# no features by default
default = []
# attempt to encode unsigned types in signed types
u2i = []
# Decimal128 in BSON 1.1
decimal128 = ["decimal"]

[lib]
name = "bson"

[dependencies]
byteorder = "1"
chrono = "0.4"
libc = "0.2"
rand = "0.7"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["preserve_order"] }
time = "0.1"
linked-hash-map = "0.5.3"
hex = "0.3"
md5 = "0.6"
decimal = { version = "2.0.4", default_features = false, optional = true }
base64 = "0.12.1"

[dev-dependencies]
assert_matches = "1.2"
serde_bytes = "0.11"
pretty_assertions = "0.6.1"

[package.metadata.docs.rs]
features = ["decimal128"]
