[package]
name = "bson"
version = "0.14.0"
authors = [
    "Y. T. Chung <zonyitoo@gmail.com>",
    "Kevin Yeh <kevinyeah@utexas.edu>"
]
description = "Encoding and decoding support for BSON in Rust"
license = "MIT"
readme = "README.md"
homepage = "https://github.com/zonyitoo/bson-rs"
documentation = "https://docs.rs/crate/bson"
edition = "2018"

[features]
# no features by default
default = []
# attempt to encode unsigned types in signed types
u2i = []
# Decimal128 in BSON 1.1
decimal128 = ["decimal"]

[lib]
name = "bson"

[dependencies]
byteorder = "1"
chrono = "0.4"
libc = "0.2"
rand = "0.7"
serde = "1.0"
serde_json = { version = "1.0", features = ["preserve_order"] }
time = "0.1"
linked-hash-map = "0.5"
hex = "0.3"
md5 = "0.6"
decimal = { git = "https://github.com/alkis/decimal.git", rev = "5577a60b9b8860a322288856ff2419c191ed080f", default_features = false, optional = true }

[dev-dependencies]
assert_matches = "1.2"
serde_derive = "1.0"
serde_bytes = "0.11"

[package.metadata.docs.rs]
features = ["decimal128"]
