[package]
name = "serde-tests"
version = "0.1.0"
authors = ["Kevin Yeh <kevinyeah@utexas.edu>"]
edition = "2018"

[dependencies]
bson = { path = ".." }
serde = { version = "1.0", features = ["derive"] }

[lib]
name = "serde_tests"
path = "lib.rs"

[[test]]
name = "serde"
path = "test.rs"
